@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cor-principal: #0f78f0;
    --cor-secundaria: #d7dce1;
    --cor-destaque: #205f90;
}

body {

    font-family: "PT Serif", serif;
    background-color: #6e859f;

}


.h1,
.h2 {

    cor: var(--cor-secundaria);

font-weight: 700;


}
