
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&display=swap');

:root {
    --cor-principal: #0f78f0;
    --cor-secundaria: #d7dce1;
    --cor-destaque: #205f90;
}

body {

    font-family: "Edu VIC WA NT Hand Pre", cursive;
    background-color: #6e859f;

}


.h1,
.h2 {

    cor: var(--cor-secundaria);
    font-weight: 700;


}
